@import url('https://use.typekit.net/uuv2zzr.css');
@import url("./fontcss/Aktura_Complete/Fonts/WEB/css/aktura.css");
@import url("./fontcss/Anton_Complete/Fonts/WEB/css/anton.css");
@import url("./fontcss/satoshi.css");
@import url("./fontcss/Humane.css");
@import url("./fontcss/Dirtyline.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  body {
    /* background-color: #F4E0B9 !important; */
    /* background-color: #191919 !important; */
    background-color: #eeedeb !important;
    box-sizing: border-box;
    list-style: none;
  }
  h1 {

    line-height: normal;

  }
  h2 {

  }
  .textglobal {
    color: #3c3633;
  }
  .textglobal2 {
    color: #747264;
  }
  .buttonbg {
    background-color: #3c3633;
    color: white;
  }
  .bg-action {
    background-color: #747264;
  }
  .humane {
    font-family: "HumaneSemBd", Georgia;
    margin-left: 3px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

.logo-font{
  font-family: "cofo-sans-pixel", sans-serif;
font-weight: 400;
font-style: normal;
}

.logo-text-font{
  font-family: "cofo-sans-pixel", sans-serif;
  font-weight: 400;
  font-variation-settings: 'wdth' 38;

}
.logo-text-font-normal{
 font-family: "nickel-gothic-variable",sans-serif;
  font-variation-settings: 'wdth' 38, 'slnt' 0;
}
.text-red-sam {
  color: #c5191b;
}
.about-name {
  font-family: "Satoshi-Black", sans-serif;
}

.mySwiper .swiper-slide {
  filter: blur(3px);
  opacity: 0.5;
}

.mySwiper .swiper-slide-active {
  filter: blur(0);
  opacity: 1;
}
.swiper-button-disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
video::-webkit-media-controls {
  display: none;
}

.humane{
      font-family: "HumaneBlack", Georgia;
}
/* Only necessary with horizontal scrolling */
/* html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }
    [data-scroll-container] {
        display: flex;
    }
} */

.fit {
  font-family: "fit-extended", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gSjwgs {
  display: flex;
  -webkit-box-pack: center;
  flex-direction: row;
  flex: 1 0 auto;
  width: max-content;
}
.buhRBc {
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    max-height: 2rem;
    background-color: white;
    color: black;
    border-radius: 4px;
}
.bAWRiG {
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}

.gQsTPR {
    position: absolute;
    top: 50%;
    right: -7.5px;
    display: block;
    width: 8px;
    color: white;
    transform: translateY(-50%);
}
.goBXkq path {
    stroke: none;
    fill: currentcolor;
}
.jjBtBa {
    font-family: FKGroteskMonoRegular, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.iaKWpD {
    z-index: 100;
    line-height: 1;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    gap: 0px 0.3125rem;
    padding: 0.6875rem 1rem 0.59375rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.logoM,
.menu-logo {
  position: absolute;
  top: 2em;
  left: 2em;
}

.logoM a,
.menu-logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Schabo", sans-serif;
  font-size: 60px;
  font-weight: lighter;
}

.logoM a {
  color: #000;
}

.menu-logo a {
  color: #fff;
}

.menu-button-wrapper{
  position: fixed;
  top: 2em;
  left: 2em;
  z-index: 2;

}
.bag-button-wrapper{
  position: fixed;
  top: 2em;
  right: 2em;
   z-index: 2;

}

.menu-toggle {
   width: 120px;
  height: 60px;
  background-color: #3C3632;
  border-radius: 8em;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: right;
  cursor: pointer;
}

.menu-toggle.opened {
  width: 60px;
}

.menu-copy {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #fff;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu-copy p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.menu-toggle:hover .menu-copy {
  left: 20px;
}

.menu-toggle.opened .menu-copy {
  opacity: 0;
}

.menu-toggle-icon {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  clip-path: circle(10% at 50% 50%);
  background-color: burlywood;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
  clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background-color: #3C3632;
  transition-property: transform;
  transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
  transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #3C3632;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 1000px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 1;
}

.col {
  flex: 1;
  position: relative;
  height: 100%;
  padding: 10em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.col-2 {
  flex: 2;
}

.link {
  position: relative;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 125%;
}


.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #3C3632;
  overflow: hidden;
  padding: 2em;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials {
  width: 50%;
  display: flex;
  gap: 2em;
}

.socials .sub-col {
  flex: 1;
}

.socials .sub-col p {
  position: relative;
  color: #fff;
  transform: translateY(30px);
  opacity: 0;
  text-transform: uppercase;
  font-family: "Akkurat Mono", monospace;
  font-size: 12px;
  font-weight: 400;
}

.header h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Schabo", sans-serif;
  font-size: 500px;
  font-weight: lighter;
  line-height: 100%;
  height: 400px;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: scale(0.75) translateY(500px) rotateY(90deg);
  transform-origin: bottom;
}

@media (max-width: 900px) {
  .col-1 {
    flex: 2;
    align-items: flex-start;
  }

  .link a {
    font-size: 30px;
  }

  .video-wrapper {
    padding: 0.4em;
  }

  .socials {
    width: 100%;
    flex-direction: column;
    gap: 8em;
  }

  .header h1 {
    font-size: 150px;
    height: 120px;
  }
}

.font-round-8{
  font-family: 'Anton-Regular';

}

/* From Uiverse.io by Mike11jr */ 
.bytn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #000000;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 
 .bytn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #808080;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 .bytn:hover {
  background-color: #212121;
  color: #fff;
  box-shadow: 0 2px 0 2px #232323;
 }
 
 .bytn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 .bytn:active {
  transform: scale(0.9);
 }

 /*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
